API_BASE_URL=
DATABASE_URL=
DATABASE_DIRECT_URL=
REDIS_URL=
OPENAI_API_KEY=
OPENAI_ASSISTANT_ID=
HEYGEN_API_TOKEN=
HEYGEN_AVATAR_ID=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_WEBHOOK_SIGNING_SECRET=
SUPABASE_API_URL=
SUPABASE_ANON_KEY=
SUPABASE_PROJECT_ID=
REDIS_URL=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
TESTS_CLERK_USER_USERNAME=
TESTS_CLERK_USER_EMAIL=
TESTS_CLERK_USER_PASSWORD=

# only for production:
SENTRY_DSN=
NEXT_PUBLIC_SENTRY_DSN=

# to avoid using NODE_ENV which should have values set only to "production" and "development"
# possible values local | test | e2e | ci | staging | production
TARGET_ENV=local

# needed for hashing values in redis
SECRET_KEY=123456789

ORGANIZATION_KEY_ENCRYPTION_KEY=dummy

TEMPORAL_SERVER_ADDRESS="localhost:7233"
TEMPORAL_NAMESPACE="local"
TEMPORAL_CERT="" # certificate in base64
TEMPORAL_KEY="" #key in base64

QDRANT_URL=
QDRANT_API_KEY= # only for staging and production

RESEND_API_KEY=
RESEND_DEFAULT_AUDIENCE_ID=

UNSTRUCTURED_API_KEY=