API_URL=
DATABASE_URL=
DATABASE_DIRECT_URL=
REDIS_URL=
OPENAI_API_KEY=
OPENAI_ASSISTANT_ID=
HEYGEN_API_TOKEN=
HEYGEN_AVATAR_ID=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_PROJECT_ID=
REDIS_URL=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
TESTS_CLERK_USER_USERNAME=
TESTS_CLERK_USER_EMAIL=
TESTS_CLERK_USER_PASSWORD=

# only for production:
SENTRY_DSN=
NEXT_PUBLIC_SENTRY_DSN=

# to avoid using NODE_ENV which should have values set only to "production" and "development"
# possible values local | test | e2e | ci | staging | production
TARGET_ENV=local

# needed for hashing values in redis
SECRET_KEY=123456789

TEMPORAL_SERVER_ADDRESS="localhost:7233"