.chat-response {
  font-weight: 400;
  color: #4b5563;
  text-align: left;
  align-self: flex-start;
  font-size: 1rem;
  min-height: 2.5rem;
  line-height: 1.75rem;
}

.chat-response h3 {
  font-size: 16px;
  margin: 12px 0;
}

.chat-response h4 {
  font-size: 16px;
}

.chat-response p {
  margin: 14px 0;
}

.chat-response ul {
  margin-left: 16px;
  list-style-type: disc;
}

.chat-response ul li {
  margin: 6px 0;
}

.chat-response ol {
  margin-left: 16px;
  list-style-type: decimal;
}
