.chat-response {
  font-weight: 400;
  text-align: left;
  align-self: flex-start;
  font-size: 1rem;
  min-height: 2.5rem;
  line-height: 1.75rem;
}

.chat-response h3 {
  font-size: 16px;
  margin: 12px 0;
}

.chat-response h4 {
  font-size: 16px;
}

.chat-response p {
  margin: 14px 0;
}

.chat-response ul {
  margin-left: 16px;
  list-style-type: disc;
}

.chat-response ul li {
  margin: 6px 0;
}

.chat-response ol {
  margin-left: 16px;
  list-style-type: decimal;
}

/* CODE WRAPPER/ */
pre.hljs {
  background-color: #282c34;
  color: #abb2bf;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #444;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
  font-size: 0.9rem;
  margin-top: -80px;
  margin-bottom: -80px;
}

code.hljs {
  font-family: 'Fira Code', monospace;
}
/* CODE WRAPPER/ */
